
# Ignore all the log files
.log

# Ignore the Guide.py file
Guide.py

# Ignore all files in any directory named temp
temp/

# ignore the .idea folders
.idea/

# ignore the __pycache__ folder
__pycache__/

# ignore the OLD folder
OLD/